:root {
  --primary-color--: rgb(182, 35, 163);
  --secondary-color--: rgb(68, 48, 171);
  --text-color--: rgb(123, 203, 53);
}
button {
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding: 8px 15px;
  box-shadow: 5px 5px blue;
  width: 150px;
  font-size: large;
  margin: 20px 30px;
}
button:hover {
  background-color: lavender;
  box-shadow: 10px 10px purple;
}
button:active{
  box-shadow: none;
}
#login {
  /* background-color: var(--text-color--); */
}
#registration 
  /* background-color: var(--primary-color--);
} */

h1 {
  color: var(--primary-color--);
}
h2 {
  color: var(--secondary-color--);
}
p {
  color: var(--text-color--);
}
h3 {
  color: palevioletred;
}
th {
  color: var(--primary-color--);
}
td {
  color: var(--secondary-color--);
}
