#bulb1
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box
{
    width: 20px;
    height: 15px;
    border: 2px solid black;
    margin: 10px;
}

#box1
{
    display: flex;
}
#redbox
{
    background-color: red;
}

#bluebox
{
    background-color: rgb(107, 107, 236);
}

#greenbox
{
    background-color: greenyellow;
}